function AsteroidsController.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 8
pop this 1
push this 1
call Array.new 1
pop this 0
push constant 0
pop local 0
label START_WHILE0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push constant 0
push local 0
push this 0
add
pop pointer 1
pop that 0
push local 0
push constant 1
add
pop local 0
goto START_WHILE0
label WHILE_END0
push constant 0
pop this 2
push pointer 0
return
function AsteroidsController.newAsteroid 5
push argument 0
pop pointer 0
push argument 1
push constant 990
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
return
label IF_FALSE1
push this 2
push this 0
add
pop local 4
push local 4
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 8
push constant 20
call Random.between 2
pop local 1
push constant 2
neg
push constant 2
call Random.between 2
pop local 2
push local 1
push constant 6
add
push constant 505
push local 1
sub
call Random.between 2
pop local 0
push constant 1
push constant 10
call Random.between 2
pop local 3
push local 0
push local 1
push local 1
push local 2
push local 3
call Asteroid.new 5
push this 2
push this 0
add
pop pointer 1
pop that 0
push this 2
push constant 1
add
pop this 2
push this 2
push this 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop this 2
label IF_FALSE3
label IF_FALSE2
push pointer 0
return
function AsteroidsController.moveAsteroids 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label START_WHILE4
push local 0
push this 1
lt
not
if-goto WHILE_END4
push local 0
push this 0
add
push constant 0
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push this 0
add
pop local 1
push local 1
call Asteroid.move 1
pop temp 0
push local 1
call Asteroid.end 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 1
call Asteroid.dispose 1
pop temp 0
push constant 0
push local 0
push this 0
add
pop pointer 1
pop that 0
label IF_FALSE6
label IF_FALSE5
push local 0
push constant 1
add
pop local 0
goto START_WHILE4
label WHILE_END4
push pointer 0
return
function AsteroidsController.hit 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label START_WHILE7
push local 0
push this 1
lt
not
if-goto WHILE_END7
push local 0
push this 0
add
push constant 0
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
push this 0
add
pop local 1
push local 1
push argument 1
push argument 2
call Asteroid.hit 3
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 1
call Asteroid.dispose 1
pop temp 0
push constant 0
push local 0
push this 0
add
pop pointer 1
pop that 0
push constant 0
not
return
label IF_FALSE9
label IF_FALSE8
push local 0
push constant 1
add
pop local 0
goto START_WHILE7
label WHILE_END7
push constant 0
return
function AsteroidsController.clear 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label START_WHILE10
push local 0
push this 1
lt
not
if-goto WHILE_END10
push local 0
push this 0
add
push constant 0
eq
not
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 0
push this 0
add
pop local 1
push local 1
call Asteroid.dispose 1
pop temp 0
push constant 0
push local 0
push this 0
add
pop pointer 1
pop that 0
label IF_FALSE11
push local 0
push constant 1
add
pop local 0
goto START_WHILE10
label WHILE_END10
push constant 0
pop this 2
push pointer 0
return
function AsteroidsController.dispose 0
push argument 0
pop pointer 0
push pointer 0
call AsteroidsController.clear 1
pop temp 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push pointer 0
return
